pipeline/semrush_geo_distribution_pipeline.json
{
  "name": "semrush_geo_distribution_pipeline",
  "properties": {
    "description": "Monthly SEMrush geo distribution data pipeline",
    "parameters": {
      "report_month": { "type": "String", "defaultValue": "" },
      "root_folder": { "type": "String", "defaultValue": "semrush" },
      "dbschema": { "type": "String", "defaultValue": "dev" },
      "receiver_emails": { "type": "String", "defaultValue": "" },
      "global_targets_view": { "type": "String", "defaultValue": "vw_semrush_global_targets" }
    },
    "variables": {
      "report_month_date": { "type": "String" },
      "path_postfix": { "type": "String" }
    },
    "activities": [
      {
        "name": "SetReportMonth",
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "report_month_date",
          "value": {
            "value": "@if(equals(pipeline().parameters.report_month, ''), formatDateTime(addMonths(utcnow(), -1), 'yyyy-MM'), pipeline().parameters.report_month)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "SetPathPostfix",
        "type": "SetVariable",
        "dependsOn": [ { "activity": "SetReportMonth", "dependencyConditions": [ "Succeeded" ] } ],
        "typeProperties": {
          "variableName": "path_postfix",
          "value": {
            "value": "@concat(pipeline().parameters.root_folder, '/geo_distribution/', variables('report_month_date'))",
            "type": "Expression"
          }
        }
      },
      {
        "name": "RunDatabricksNotebook",
        "type": "DatabricksNotebook",
        "dependsOn": [ { "activity": "SetPathPostfix", "dependencyConditions": [ "Succeeded" ] } ],
        "linkedServiceName": { "referenceName": "semrush_databricks_linked_service", "type": "LinkedServiceReference" },
        "typeProperties": {
          "notebookPath": "/Users/ryarapatineni@intuceo.com/.bundle/databricks_test/dev/files/usagm_databricks_test/src/semrush_geo_distribution",
          "existingClusterId": "0826-180150-a3kduvi8o",
          "baseParameters": {
            "report_month": "@variables('report_month_date')",
            "root_folder": "@pipeline().parameters.root_folder",
            "dbschema": "@pipeline().parameters.dbschema",
            "global_targets_view": "@pipeline().parameters.global_targets_view"
          }
        },
        "policy": { "timeout": "01:00:00", "retry": 1, "retryIntervalInSeconds": 60 },
        "onFailure": [
          {
            "name": "DatabricksFailEmail",
            "type": "WebActivity",
            "typeProperties": {
              "url": "https://prod-26.eastus.logic.azure.com:443/workflows/4063201f3aec4f30a314ce2b026aaca1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=R3wbH22ihZ8DKvs90k-waRLDoEcxzoCotCendmgC7n8",
              "method": "POST",
              "headers": { "Content-Type": "application/json" },
              "body": {
                "pipeline": "semrush_geo_distribution_pipeline",
                "activity": "RunDatabricksNotebook",
                "emails": "@pipeline().parameters.receiver_emails",
                "error": "@activity('RunDatabricksNotebook').error.message"
              }
            }
          },
          {
            "name": "FailPipelineDatabricks",
            "type": "Fail",
            "typeProperties": {
              "message": "Databricks notebook failed"
            }
          }
        ]
      },
      {
        "name": "CopyParquetToSQL",
        "type": "Copy",
        "dependsOn": [ { "activity": "RunDatabricksNotebook", "dependencyConditions": [ "Succeeded" ] } ],
        "inputs": [ { "referenceName": "semrush_adls_parquet_dataset", "type": "DatasetReference" } ],
        "outputs": [ { "referenceName": "semrush_sql_table_dataset", "type": "DatasetReference" } ],
        "typeProperties": {
          "source": { "type": "ParquetSource" },
          "sink": { "type": "SqlSink", "writeBatchSize": 10000, "sqlWriterUseTableLock": true, "tableOption": "autoCreate" },
          "enableStaging": true,
          "stagingSettings": {
            "linkedServiceName": { "referenceName": "semrush_adls_linked_service", "type": "LinkedServiceReference" },
            "path": "adf_staging/temp"
          },
          "enableSkipIncompatibleRow": true,
          "enableAutoMapping": true
        },
        "onFailure": [
          {
            "name": "CopyFailEmail",
            "type": "WebActivity",
            "typeProperties": {
              "url": "https://prod-26.eastus.logic.azure.com:443/workflows/4063201f3aec4f30a314ce2b026aaca1/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=R3wbH22ihZ8DKvs90k-waRLDoEcxzoCotCendmgC7n8",
              "method": "POST",
              "headers": { "Content-Type": "application/json" },
              "body": {
                "pipeline": "semrush_geo_distribution_pipeline",
                "activity": "CopyParquetToSQL",
                "emails": "@pipeline().parameters.receiver_emails",
                "error": "@activity('CopyParquetToSQL').error.message"
              }
            }
          },
          {
            "name": "FailPipelineCopy",
            "type": "Fail",
            "typeProperties": {
              "message": "Copy activity failed"
            }
          }
        ]
      }
    ]
  }
}